@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: Barakah;
  src: url('/fonts/MTD-Barakah-Regular.otf') format("opentype");
} */
@font-face {
  font-family: Daybreaker;
  src: url('/fonts/Daybreaker.ttf') format('truetype');
}

:root {
  font-family: Bitter, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.dice-rolling-anim {
  animation-duration: .2s;
  animation-name: diceRolling;
}

@keyframes diceRolling {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.ant-table-row {
  background: #ebd6c1;
}

#root .ant-table-thead .ant-table-cell {
  background: rgba(255, 255, 255, 0.25);
}

#root .highlighted-table table {
  @apply border border-red-900;
}

.btn-default {
  @apply border border-gray-200 bg-white text-danger font-bold py-1 px-3 rounded transition-colors;
}

.btn-default:hover {
  @apply border-gray-200 bg-gray-100;
}
